doctype html

html(lang="en")
	head
		title login
		link(rel="icon" href="static/img/orc.ico" type="img/x-icon")
		link(rel="stylesheet" href="static/css/common.css")
	body
		.login-box
			.login-title Login
			.form-row#username
				label.w100 用户名：
				input.w250(type="text")
				span.error.mar-l5(style="display:none;")
			.form-row#password
				label.w100 密码：
				input.w250(type="password")
				span.error.mar-l5(style="display:none;")
			.form-row.center#error
				span.error(style="display:none;")
			.form-row.center.relative
				button.btn#submit 提交
				.link.login-link#register 注册

	script(src="static/js/plugins/jquery-1.8.3.js")
	script(src="static/js/page/login/login.js")
