doctype html

html(lang="en")
	head
		title 注册
		link(rel="icon" href="static/img/orc.ico" type="img/x-icon")
		link(rel="stylesheet" href="static/css/common.css")
	body
		.login-box
			.login-title register
			.form-row#username
				label.w100 用户名：
				input.w250(type="text")
				span.error.mar-l5(style="display:none;")
			.form-row#password
				label.w100 用户密码：
				input.w250(type="password")
				span.error.mar-l5(style="display:none;")
			.form-row#confirm
				label.w100 确认密码：
				input.w250(type="password")
				span.error.mar-l5(style="display:none;")
			.form-row.center#error
				span.error(style="display:none;")
			.form-row.center.relative
				button.btn#submit 提交
				.link.login-link#login 登录

	script(src="static/js/plugins/jquery-1.8.3.js")
	script(src="static/js/plugins/rifle.js")
	script(src="static/js/page/login/register.js")