doctype html

html(lang="en")
	head
		title home
		link(rel="icon" href="static/img/orc.ico" type="img/x-icon")
		link(rel="stylesheet" href="static/css/common.css")
	body
		.header
			.header-title WELL COME TO MY WORLD !
			.header-content
				span 欢迎&nbsp;
				span#admin #{name}&nbsp;
				span#logout.pointer 退出
		.body
			.menu
			.content
				h2 HELLO
	script(src="static/js/plugins/jquery-1.8.3.js")
	script(src="static/js/plugins/rifle.js")
	script(src="static/js/page/home/common.js")